[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
uvloop = "*"
motor = "*"
pymongo = {extras = ["srv"], version = "*"}
psutil = "*"
aiodns = "*"
cchardet = "*"
aiohttp = {extras = ["speedups"], version = "*"}
py-cord = {extras = ["speed", "voice"], version = "*"}
sentry-sdk = "*"
aiohttp-cors = "*"
wavelink = "*"

[dev-packages]
# [requires]
# python_version = "3.8"
mypy = "*"

[pipenv]
allow_prereleases = true
