[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
uvloop = "*"
motor = "*"
pymongo = {extras = ["srv"], version = "*"}
psutil = "*"
lavalink = "*"
aiodns = "*"
cchardet = "*"
async-spotify = "*"
aiohttp = {extras = ["speedups"], version = "*"}
py-cord = {version = "==2.0.0rc1", extras = ["speed", "voice"]}
sentry-sdk = "*"

[dev-packages]
# [requires]
# python_version = "3.8"

[pipenv]
allow_prereleases = true
