discord.py[voice]~=1.7.3
python-dotenv~=0.18.0
psutil~=5.8.0
distro~=1.5.0
aiohttp~=3.7.4.post0
wavelink~=0.9.10
asyncio~=3.4.3
async_timeout~=3.0.1
rule34~=1.8.1
async-cleverbot~=0.2.2
git+https://github.com/psycopg/psycopg.git#subdirectory=psycopg
git+https://github.com/Rapptz/discord-ext-menus